@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
.menu-container {
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #fcfcfc;
  position: relative;
}

.menu-container .menu-scroll-section {
  height: calc(100% - 90px);
  overflow: scroll;
  background-color: #fcfcfc;
  padding-bottom: 20px;
}

.menu-container .menu-scroll-section .menu-header-section {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcfcfc;
}

.menu-container .menu-scroll-section .menu-directory-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcfcfc;
}

.menu-container .menu-scroll-section .menu-channels-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container .menu-scroll-section .menu-channels-section .channel-category-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 87.5%;
  height: 20px;
  border-radius: 3px;
  margin: 7px calc((100% - 87.5%) / 2);
}

.menu-container .menu-scroll-section .menu-channels-section .channel-category-title-container .channel-category-title {
  font-size: 10px;
  font-family: Inter;
  color: #9b9b9b;
  font-weight: 500;
  white-space: nowrap;
}

.menu-container .menu-scroll-section .menu-channels-section .channel-category-title-container .add-channel-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.menu-container .menu-scroll-section .info-fade {
  position: absolute;
  height: 30px;
  width: 100%;
  bottom: 90px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 252, 252, 0)), to(#fcfcfc));
  background: linear-gradient(180deg, rgba(252, 252, 252, 0) 0%, #fcfcfc 100%);
}

.menu-container .menu-bottom-section {
  height: 90px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 501;
  background-color: #fcfcfc;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 87.5%;
  height: 30px;
  border-radius: 3px;
  margin: 2.5px calc((100% - 87.5%) / 2);
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
}

.menu-button .menu-button-icon-section {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-button .menu-button-icon-section .menu-button-icon {
  line-height: 0.5;
  font-size: 12px;
  font-family: Inter;
  color: #27282b;
  font-weight: 500;
}

.menu-button .menu-button-text-section {
  width: calc(100% - 30px);
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-button .menu-button-text-section .menu-button-text {
  font-size: 13px;
  font-family: Inter;
  color: #27282b;
  font-weight: 500;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
  width: 87.5%;
  border-radius: 3px;
  margin: 2.5px calc((100% - 87.5%) / 2);
  overflow: hidden;
  cursor: pointer;
}

.menu-header:hover {
  background-color: #f3f3f3;
}

.menu-header .menu-header-icon-section {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-header .menu-header-icon-section .menu-header-icon {
  width: 21px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20%;
}

.menu-header .menu-header-icon-section .menu-header-icon-text {
  font-size: 11px;
  font-family: Inter;
  color: #ffffff;
  font-weight: 500;
}

.menu-header .menu-header-text-section {
  height: 30px;
  width: calc(100% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding-left: 5px;
}

.menu-header .menu-header-text-section .menu-header-text {
  font-size: 13px;
  font-family: Inter;
  color: #27282b;
  font-weight: 500;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.menu-header .menu-header-switch-icon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
}

.dashboard-filter-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=Menu.css.map */