// Fonts

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

// Colors

$blue-1: #597bf2;
$blue-2: #5a8dee;
$blue-3: rgba(90, 141, 238, 0.15);
$blue-4: #475f7b;
$blue-5: rgb(4, 0, 255);

// Whites/Blacks

$white-1: #ffffff;
$white-2: #f4f5f7;
$white-3: #f3f3f3;
$white-4: #fafbfb;
$white-5: #e7ebeb;
$white-6: #dfe3e7;
$white-7: #fcf8e3;
$white-8: #d7d8d8;

$gray-1: #CFCFCF;
$gray-2: #9aa1b1;
$gray-3: #8a8f98;
$gray-4: #787882;
$gray-5: #727e8c;
$gray-6: #686868;
$gray-7: #5d6168;

$black-4: #303236;
$black-3: #27282B;
$black-2: #1F2023;
$black-1: #000000;
$black-transluscent: rgba(0, 0, 0, 0.4);

// Margin/Padding

$spacing-1: 1rem;
$spacing-2: 1.5rem;
$spacing-3: 3rem;
$spacing-4: 3.5rem;
$spacing-5: 4rem;

// Borders

$border-radius-1: 0.267rem;

$border-width-1: 1px;
$border-width-2: 2px;
$border-width-3: 3px;
